
StrideML/\.idea/codeStyles/

StrideML/\.idea/

StrideML/gradlew\.bat

StrideML/gradlew

StrideML/gradle/wrapper/gradle-wrapper\.properties

StrideML/gradle/wrapper/gradle-wrapper\.jar

StrideML/settings\.gradle
